// ==========================================
// Tang Nano 9K Complete Physical Constraints
// ==========================================

// --- System Clock (27 MHz) ---
IO_LOC "CLK" 52;
IO_PORT "CLK" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// --- Push Buttons (Active Low) ---
IO_LOC "BTN" 3;
IO_PORT "BTN" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC "RST" 4;
IO_PORT "RST" IO_TYPE=LVCMOS18 PULL_MODE=UP;

// --- LEDs (Active Low, 1.8V Bank) ---
IO_LOC "LED[0]" 10;
IO_PORT "LED[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;

IO_LOC "LED[1]" 11;
IO_PORT "LED[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;

IO_LOC "LED[2]" 13;
IO_PORT "LED[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;

IO_LOC "LED[3]" 14;
IO_PORT "LED[3]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;

IO_LOC "LED[4]" 15;
IO_PORT "LED[4]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;

IO_LOC "LED[5]" 16;
IO_PORT "LED[5]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;

// --- UART (BL702 USB-to-UART) ---
IO_LOC "TX_OUT" 17;
IO_PORT "TX_OUT" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

// IO_LOC "RX_IN" 18;
// IO_PORT "RX_IN" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// --- SPI Flash ---
// IO_LOC "FLASH_CS" 60;
// IO_PORT "FLASH_CS" IO_TYPE=LVCMOS33 PULL_MODE=UP;
// IO_LOC "FLASH_MOSI" 61;
// IO_PORT "FLASH_MOSI" IO_TYPE=LVCMOS33 PULL_MODE=UP;
// IO_LOC "FLASH_MISO" 62;
// IO_PORT "FLASH_MISO" IO_TYPE=LVCMOS33 PULL_MODE=UP;
// IO_LOC "FLASH_SCLK" 59;
// IO_PORT "FLASH_SCLK" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// --- TF Card (MicroSD - SPI Mode) ---
// IO_LOC "TF_CS" 38;
// IO_PORT "TF_CS" IO_TYPE=LVCMOS33 PULL_MODE=UP;
// IO_LOC "TF_MOSI" 37;
// IO_PORT "TF_MOSI" IO_TYPE=LVCMOS33 PULL_MODE=UP;
// IO_LOC "TF_MISO" 39;
// IO_PORT "TF_MISO" IO_TYPE=LVCMOS33 PULL_MODE=UP;
// IO_LOC "TF_SCLK" 36;
// IO_PORT "TF_SCLK" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// --- HDMI (TMDS) ---
// IO_LOC "HDMI_CLK_P" 69;
// IO_PORT "HDMI_CLK_P" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;
// IO_LOC "HDMI_CLK_N" 68;
// IO_PORT "HDMI_CLK_N" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;
// IO_LOC "HDMI_D0_P" 71;
// IO_PORT "HDMI_D0_P" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;
// IO_LOC "HDMI_D0_N" 70;
// IO_PORT "HDMI_D0_N" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;
// IO_LOC "HDMI_D1_P" 73;
// IO_PORT "HDMI_D1_P" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;
// IO_LOC "HDMI_D1_N" 72;
// IO_PORT "HDMI_D1_N" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;
// IO_LOC "HDMI_D2_P" 75;
// IO_PORT "HDMI_D2_P" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;
// IO_LOC "HDMI_D2_N" 74;
// IO_PORT "HDMI_D2_N" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;
